extends layout

block content
  h1= title
  p ようこそ！ここではあなたのゲームの所持情報や進捗を記録することができます！色々なゲームをプレイしてみましょう！


  h4 所持

  p 現在所持しているゲームについての情報:

  ul
    li #[strong ゲーム数:] !{book_count}
    li #[strong 攻略中:] !{book_instance_count}
    li #[strong クリア済み:] !{book_instance_available_count}
    li #[strong 製作者数:] !{author_count}
    li #[strong ジャンル数:] !{genre_count}
